.header-top{
	display: flex;
	justify-content: space-between;
	height: 40px;
	font-size: 15px;
	background-color: #f4e198;
}
.info{
	display: flex;
	justify-content: space-between;
	width: 40%;

}
.info-box{
	width: 33%;
}
.login{
	display: flex;
	justify-content: flex-end;
	width: 70%;
}
.info-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.info-box img{
	width: 20px;
	height: 20px;
}
.login{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 50px;
}
.registration{
	display: flex;
	align-items: center;
	padding-right: 50px;
}
.registration img{
	width: 25px;
	height: 25px;
	padding-right: 5px;
}




.header-center{
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}
.logo{
	display: flex;
	align-items: center;
	font-size: 35px;
	font-weight: 900;
	width: 14%;
	height: 70px;
}
.logo span{
	display: flex;
	padding-bottom: 25px;
	font-size: 50px;
	color: #e85829;
	padding-top: 10px;
}
.menu{
	display: flex;
	justify-content: space-evenly;
	font-size: 20px;
	width: 50%;
}
.menu-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
}
.user-menu{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	width: 20%;

}
.user-menu img{
	width: 30px;
	height: 30px;
}




.header-bottom{
	display: flex;

	padding-left: 20px;
	padding-right: 20px;
}
.categories{
	display: flex;
	align-items: center;
	width: 30%;
}
.img-categories{
	height: 50px;
	width: 50px;
}
.img-arrow-down{
	height: 15px;
	width: 15px;
	padding-left: 10px;
}
.categories-button{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	background-color: rgb(255,187,0);
	height: 70px;
	width: 300px;
}
.categories-button img{
	width: 20px;
	height: 20px;
}
.search-box{
	display: flex;

}
.field-categories{
	display: flex;
	height: 48px;
	align-items: center;
	padding: 10px;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-right: solid 1px;
	background-color: rgb(255,187,0);
}
.field-categories img{
	width: 20px;
	height: 20px;
}
.field-search{
	height: 64px;
}
.field-search input{
	height: 100%;
	width: 400px;
	padding-left: 20px;
}
.field-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 68px;
	width: 65px;
	background-color: #fab514;
	border-top: solid 1px;
	border-right:  solid 1px;
	border-bottom: solid 1px;
}
