<div class="header">
	<div class="header-top">
		<div class="info">
			<div class="info-box">
				<img src="../assets/img/delivery.png"/>
				Delivery</div>
			<div class="info-box privacy">
				<img src="../assets/img/privacy.png"/>
				Policy</div>
			<div class="info-box"><span>Follow Us</span>
				<img src="../assets/img/facebook.png"/>
				<img src="../assets/img/twitter.png"/>
				<img src="../assets/img/youtube.png"/>
				<img src="../assets/img/instagram.png"/>
			</div>
		</div>
		<div class="login">
			<img src="../assets/img/login.png"/>
			<a routerLink="/login">Login</a>
		</div>
	</div>

	<div class="header-center">
		<div class="logo">Online<span>Store.</span></div>
		<div class="menu">
			<div class="menu-button">Home</div>
			<div class="menu-button">Blog</div>
			<div class="menu-button">Gallery</div>
			<div class="menu-button">Stocks</div>
		</div>
		<div class="user-menu">
			<img src="../assets/img/star1.png"/>	
			<img src="../assets/img/basket1.png"/>	
		</div>
	</div>

	<div class="header-bottom">
		<div class="categories">
			<div class="categories-button">
				<img class="img-categories" src="../assets/img/categories.png"/>
				All Categories
				<img class="img-arrow-down" src="../assets/img/arrow-down.png"/>
			</div>
		</div>
		<div class="search-box">
			<div class="field-search">
				<input class="input-search" placeholder="Find your product" style="font-size: 20px;" name="fieldSearch"/>
			</div>
			<div class="field-categories">All categories
				<img src="../assets/img/arrow-down.png"/>
			</div>
			<div class="field-icon">
				<img src="../assets/img/search.png"/>
			</div>
		</div>
	</div>
</div>
